/* Основний фон і текст */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --secondary: 0 0% 90%;
    --muted: 0 0% 95%;
    --border: 0 0% 80%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 4% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --secondary: 24 5% 20%;
    --muted: 24 5% 25%;
    --border: 24 5% 40%;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

/* GOOGLE */
.gsi-material-button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.gsi-material-button:hover {
  background-color: #e6e6e6;
}

.gsi-material-button-content-wrapper {
  display: flex;
  align-items: center;
}

.gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  width: 20px;
}

/* APPLE */
.apple-signin-button {
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 12px 24px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  height: 48px;
  width: 100%;
  transition: background-color 0.2s;
}
.apple-signin-button svg {
  width: 24px;
  height: 24px;
}

.apple-signin-button:hover {
  background-color: #222;
}

.home-auth-link:hover {
  @apply text-primary underline;
}
.home-auth-link:focus {
  @apply text-primary underline;
}
.home-auth-link:focus-visible {
  @apply text-primary underline;
}
